#banner {
    /* height: 38em; */
    color: #fff;
    background-color: #222;
}

#banner .content-slider {
    position: relative;
    width: 100%;
    height: 100%;
}

#banner .content-slider input {
    display: none;
}

#banner .content-slider .slider {
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
}

#banner .content-slider .slider .banner {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    width: inherit;
    height: inherit;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all 0.5s ease;
}

#banner .content-slider .slider .banner .banner-inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* padding-top: 6em; */
    /* 改 */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    box-sizing: border-box;
    /* 新增 */
    text-align: center;
    /* 确保文字居中 */
    /* padding: 20px; */
    position: relative;
    /* 讓子元素可以絕對定位 */

    /* text-shadow: 0 0  10px var(--alpha-b-20); */
}

#banner .content-slider .slider .banner .banner-inner-wrapper h2 {
    padding-bottom: 0.3em;
    font-family: 'Noto Sans TC', sans-serif;
    /* 改 */
    font-weight: bold;
    font-size: 3.5rem;
    /* text-transform: none; */
    /*新增 */
    color: var(--primary-5);
    /* 确保文字与背景对比强烈 */
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    /* 增加文字阴影，提升可读性 */
    /* padding-bottom:100px; */
    position: absolute;
    top: 20%;
    /* 這裡調整標題距離容器頂部的距離，數值可調整 */
    transform: translateY(-50%);
    /* 使標題在其自身高度中垂直居中 */
}

#banner .content-slider .slider .banner .banner-inner-wrapper h3 {
    font-family: 'Noto Sans TC', sans-serif;
    /* 改 */
    font-size: 1rem;
    /* 改 */
    /* line-height: 95%; */
    /* 改 */
    line-height: 1.5;
    letter-spacing: .2rem;
    /* 调整行距 */
    /* 新增 */
    color: var(--primary-5);
    /* 确保文字可读性 */
    text-align: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* 增加文字阴影，提升可读性 */
    margin-bottom: 20px;
    /* 调整底部间距 */

}



#banner .content-slider .slider .banner .banner-inner-wrapper .line {
    display: block;
    width: 4em;
    height: 0.1875em;
    margin: 2.5em auto;
    background: var(--primary-5)
}

#banner .content-slider .slider .banner .banner-inner-wrapper .learn-more-button {
    /* padding-bottom: 5em; */
    z-index: 15 !important;


}

#banner .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a {
    display: inline-block;
    padding: 0.5em 2em;
    text-align: center;
    /* font-family: Montserrat, sans-serif; */
    /* 改 */
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-5);
    text-transform: uppercase;
    border: 0.1875rem solid var(--primary-5);
    /* 新增 */
    border-radius: 99px;
    /* 给按钮增加圆角 */
    transition: all 0.3s;
    letter-spacing: .2rem;



}

#banner .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
    color: var(--primary-5);
    background-color: var(--primary-1);
    border-color:var(--primary-1);
    transition: 0.3s;
}

#banner .content-slider .slider #top-banner-1 {
    background: url('../images/feedback-1.jpg') no-repeat center center;
    background-size: cover;
}

#banner .content-slider .slider #top-banner-2 {
    background: url('../images/feedback-2.jpg') no-repeat center center;
    background-size: cover;
}

#banner .content-slider .slider #top-banner-3 {
    background: url('../images/feedback-3.jpg') no-repeat center center;
    background-size: cover;
}

#banner .content-slider .slider #top-banner-4 {
    background: url('../images/feedback-4.jpg') no-repeat center center;
    background-size: cover;
}

#banner .content-slider .slider #top-banner-5 {
    background: url('../images/feedback-5.jpg') no-repeat center center;
    background-size: cover;
}

#banner .content-slider nav {
    position: absolute;
    bottom: 0em;
    top: auto;
    width: 100%;
    z-index: 10;
    text-align: center;
    background-color: transparent;
}

#banner .content-slider nav .controls {
    display: block;
    width: 70%;
    margin: 0 auto;
    /* font-family: Montserrat, sans-serif; */
    font-family: 'Noto Sans TC', sans-serif;
    /* 改 */
    color: var(--primary-5);

}

#banner .content-slider nav .controls label {
    position: relative;
    display: inline-block;
    width: 10%;
    /* 改 */
    height: 3.5em;
    overflow: hidden;
    margin: 0 1em;
    padding-top: 1em;
    text-align: left;
    text-transform: uppercase;
    /* font-family: Montserrat, sans-serif; */
    font-family: 'Noto Sans TC', sans-serif;
    /* 改 */
    font-size: 1em;
    color: var(--primary-5);
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
}



#banner .content-slider nav .controls label .progressbar {
    position: absolute;
    /* 改 */
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--primary-5);
    z-index: 100;
}

#banner .content-slider nav .controls label .progressbar .progressbar-fill {
    position: inherit;
    width: inherit;
    height: inherit;
    margin-left: -100%;
    background: var(--primary-1)
}

#banner .content-slider nav .controls label span {
    font-size: 1.4em;
    font-weight: 700;
}

#banner .content-slider nav .controls label:hover {
    color: var(--primary-1);
}

#banner .content-slider #banner1:checked~.slider #top-banner-1,
#banner .content-slider #banner2:checked~.slider #top-banner-2,
#banner .content-slider #banner3:checked~.slider #top-banner-3,
#banner .content-slider #banner4:checked~.slider #top-banner-4,
#banner .content-slider #banner5:checked~.slider #top-banner-5 {
    opacity: 1;
    z-index: 1;
}

#banner .content-slider #banner1:checked~nav label:nth-of-type(1),
#banner .content-slider #banner2:checked~nav label:nth-of-type(2),
#banner .content-slider #banner3:checked~nav label:nth-of-type(3),
#banner .content-slider #banner4:checked~nav label:nth-of-type(4),
#banner .content-slider #banner5:checked~nav label:nth-of-type(5) {
    cursor: default;
    color: #fff;
    transition: all 0.5s;
}

#banner .content-slider #banner1:checked~nav label:nth-of-type(1) .progressbar,
#banner .content-slider #banner2:checked~nav label:nth-of-type(2) .progressbar,
#banner .content-slider #banner3:checked~nav label:nth-of-type(3) .progressbar,
#banner .content-slider #banner4:checked~nav label:nth-of-type(4) .progressbar,
#banner .content-slider #banner5:checked~nav label:nth-of-type(5) .progressbar {
    background: #fff;
}

#banner .content-slider #banner1:checked~nav label:nth-of-type(1) .progressbar-fill,
#banner .content-slider #banner2:checked~nav label:nth-of-type(2) .progressbar-fill,
#banner .content-slider #banner3:checked~nav label:nth-of-type(3) .progressbar-fill,
#banner .content-slider #banner4:checked~nav label:nth-of-type(4) .progressbar-fill,
#banner .content-slider #banner5:checked~nav label:nth-of-type(5) .progressbar-fill {
    animation: progressBarFill 5s linear;
}

/* Animations */
@keyframes progressBarFill {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0;
    }
}


/* 小型設備
@media(max-width:640px){
    #banner .content-slider .slider .banner .banner-inner-wrapper h2{
        font-size: 2rem;
    }

    #banner .content-slider .slider .banner .banner-inner-wrapper h1 {
        font-size: 3.5rem;
    }
    #banner .content-slider nav .controls label{
        margin:0 5px;
    }
} */