@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    --primary-1: #E59560;
    --primary-2: #F6F4E8;
    --primary-3: #342628;
    --primary-4: #788402;
    --primary-5: #FFFFFF;
    --primary-6: #FEAA00;


    /* 文字 */
    /*NOTO SANS TC :Regular400/BOLD 700 */

}


/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;

}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: "Noto Sans TC", sans-serif;
}


#gotop {
    position: fixed;
    right: 20px;
    bottom: 320px;
    z-index: 999;

    width: 50px;
    height: 50px;
    /* 新增 */
    display: none;
    /* background-color: var(--lesser-5); */
    border-radius: 50%;
    padding: 5px;

    cursor: pointer;
    /* 游標樣式:手指 */
}

/* 導覽列樣式 */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10 80px;
    /* 調整 padding 大小來縮小區域 */
    position: fixed;
    /* 確保導覽列固定在頂部 */
    width: 100%;
    top: 0;
    z-index: 100;
    transition: background-color 0.3s, color 0.3s;
    /* 平滑過渡背景色變化 */

}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: var(--primary-5);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    /* padding: 20px; */
    padding: 10px 15px;
    /* 確保文字不會偏離太多 */
    letter-spacing: .2rem;
}

/* 滾動後的導覽列樣式 */
nav.scrolled {
    background-color: var(--primary-1);
    /* 滾動後變成橘色背景 */
}

nav.scrolled ul {
    background-color: var(--primary-1);
    /* 導覽列的背景也變橘色 */
}

nav.scrolled ul li a {
    color: var(--primary-5);
    /* 滾動後字體變成白色 */
}

.logo img {
    width: 160px;
    /* 調整 Logo 的寬度 */
    height: auto;
    /* 保持長寬比例 */
    max-height: 90px;
    /* 最大高度設為 90px，保證不超過導覽列 */
    margin-left: 20px;
    /* 調整 LOGO 左側距離*/
}

/* 漢堡按鈕樣式 */
.hamburger {
    display: none;
    /* 初始隱藏 */
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: var(--primary-5);
    margin: 4px;
    transition: all 0.3s ease;
}

/* 響應式設計 */
@media (max-width: 850px) {
    nav ul {
        display: none;
        /* 在 850px 以下隱藏導航項 */
    }

    .hamburger {
        display: flex;
        /* 顯示漢堡按鈕 */
    }

    .logo img {
        width: 160px;
        /* 確保 logo 不會變小 */
    }
}

/* 漢堡按鈕點擊後的效果 */
nav.active ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: transparent;
    /* 頁面置頂時保持透明 */
    justify-content: center;
    /* 讓導航項目在垂直方向居中 */
    align-items: center;
    /* 讓導航項目在水平方向置中 */
}

nav.active.scrolled ul {
    background-color: var(--primary-1);
    /* 當滾動後漢堡打開時背景變橘色 */
}

nav.active ul li {
    margin: 10px 0;
}

nav.active ul li a {
    text-align: center;
    width: 100%;
    padding: 10px;
}

/* 漢堡按鈕的動畫效果 */
nav.active .hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 11px);
}

nav.active .hamburger span:nth-child(2) {
    opacity: 0;
}

nav.active .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -11px);
}

/* 滾動後的導覽列樣式 */
nav.scrolled {
    background-color: var(--primary-1);
    /* 滾動後背景變橘色 */
}

/* banner區塊樣式 */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    /* 防止內容超出範圍 */

}

/* 專門控制背景圖片的hero-bg */
.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    animation: zoomEffect 5s ease-in-out infinite;
    /* 將動畫效果應用於背景 */
    z-index: -1;
    /* 確保背景在所有內容後面 */
}


/* 定義背景圖縮放動畫 */
@keyframes zoomEffect {
    0% {
        transform: scale(1);
        /* 初始大小 */
    }

    50% {
        transform: scale(1.08);
        /* 更明顯的放大 */
    }

    100% {
        transform: scale(1);
        /* 回到初始大小 */
    }
}


/* hero-text 的設置，確保文字在圖片上正確顯示 */
.hero-text {
    position: absolute;
    /* 將文字設置為絕對定位 */
    bottom: 10%;
    /* 固定在底部10%位置 */
    left: 5%;
    /* 固定在左邊5%位置 */
    color: white;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .3rem;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 1;
    /* 確保文字在背景上層顯示 */
}

/* 響應式設計：調整小螢幕時的字體大小 */
@media screen and (max-width: 440px) {
    .hero-text {
        font-size: 1.5rem;
        /* 調整文字大小 */
        letter-spacing: 0.1rem;
        /* 減少字母間距，防止摺疊 */
        padding: 5px;
        /* 減少文字內邊距，確保適合小螢幕 */
    }
}


/* 關於我們區 */
.about-us {
    position: relative;
    /* 建立定位上下文 */
    padding: 50px 0;
    background-color: var(--primary-2);
}

.about-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

.about-text {
    flex: 1;
    margin-right: 20px;
    padding-left: 80px;
    /* 左侧内边距 */
    box-sizing: border-box;
    position: relative;
    /* 为 z-index 设定定位 */
    z-index: 1;
    /* 确保文字内容在滚动文字之上 */
}

.about-text h2 {
    font-size: 3.5rem;
    color: var(--primary-1);
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.about-text p {
    font-size: 18px;
    line-height: 1.8;
    color: var(--primary-3);
    margin-top: 20px;
}

.about-image {
    flex: 1;
    max-width: 500px;
    margin-right: 80px;
    /* 右侧内边距 */
    box-sizing: border-box;
    position: relative;
    /* 为 z-index 设定定位 */
    z-index: 2;
    /* 确保图片在滚动文字之上 */
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 滚动文字样式 */
.scrolling-text {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60px;
    /* 根据字体大小调整高度 */
    margin: 20px 0;
    z-index: 0;
    /* 确保滚动文字在最底层 */
}

.scrolling-text-content {
    display: flex;
    /* 使用 flex 布局 */
    position: absolute;
    white-space: nowrap;
    animation: scroll-text 15s linear infinite;
    left: 0;
    /* 从左侧开始 */
}

.scrolling-text-content span {
    font-size: 3rem;
    color: var(--primary-1);
    font-weight: 700;
    letter-spacing: 2px;
    opacity: 0.2;
    margin-right: 50px;
}

@keyframes scroll-text {
    from {
        transform: translateX(0%);
        /* 从右侧开始 */
    }

    to {
        transform: translateX(-50%);
        /* 向左移动 */
    }
}

/* 响应式设计 */
@media (max-width: 1024px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .about-text {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 0;
        z-index: 1;
    }

    .about-text h2,
    .about-text p {
        text-align: center;
    }

    .scrolling-text-content span {
        font-size: 2rem;
    }

    .about-image {
        width: 100%;
        max-width: 80%;
        margin: 20px 0;
        margin-right: 0;
        z-index: 2;
    }
}

@media (max-width: 600px) {
    .about-text h2 {
        font-size: 2rem;
    }

    .about-text p {
        font-size: 16px;
    }

    .scrolling-text-content span {
        font-size: 1.8rem;
    }

    .about-text {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* 團隊區 */

.our-team {
    background-color: var(--primary-2);
    padding: 50px 20px;
    position: relative;
    /* 確保背景 SVG 可以相對定位 */

    /* 調整背景圖片 */
    background-image: url('../images/bg-light.svg');
    background-size: 100%;
    /* 調整背景圖像的大小，可以根據需求調整為更小或更大 */
    background-position: right 0 bottom 410px;
    /* 調整背景圖像的位置，讓它靠右和底部 */
    background-repeat: no-repeat;
    /* 確保背景圖像不會重複 */
}

.team-container {
    max-width: 1200px;
    /* 限制容器最大寬度為1200px，根據需要調整 */
    margin: 0 auto;
    /* 讓容器在寬螢幕上居中 */
    padding: 0 40px;
    /* 增加左右內邊距，避免內容貼邊 */
    display: block;
    /* 讓容器以區塊形式顯示，防止元素擠壓 */

}

/* 團隊標題樣式 */
.team-header {
    max-width: 1320px;
    /* 控制標題寬度，總寬度減去80px間距 */
    margin: 0 auto 50px auto;
    /* 增加 margin-top 為 60px */
    padding-top: 120px;
    /* 單獨移動標題 */

    padding-right: 80px;
    /* 確保文字內容離右側80px */
}

/* 團隊標題樣式 */
.team-header h2 {
    font-size: 3rem;
    color: var(--primary-1);
    font-weight: 700;
    letter-spacing: 3px;
    text-align: right;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.1);
}

.team-header p {
    font-size: 1.2rem;
    color: var(--primary-3);
    letter-spacing: 1px;
    text-align: right;
}


/* 團隊成員區域 */
.team-member-1,
.team-member-3 {
    display: flex;
    flex-direction: column;
    /* 將內容從併排改為垂直排列 */
    align-items: center;
    /* 圖片和文字居中對齊 */
    position: relative;
    max-width: 600px;
    /* 控制區塊寬度 */
    margin-bottom: 40px;
    /* 讓每個成員區塊之間有間距 */
    text-align: center;
    /* 讓文字居中對齊 */
}

/* 父容器宽度设定 */
.team-member-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    /* 將內容從併排改為垂直排列 */
    align-items: flex-end;
    /* 將內容向右對齊 */
    max-width: 100%;
    /* 确保父容器占据整个页面宽度 */
    margin-right: 80px;
    /* 添加 margin-right，防止內容緊貼右側 */
    /* z-index: 2; 確保成員圖片和文字在 SVG 前面 */
    margin-bottom: 40px;
    /* 讓每個成員區塊之間有間距 */
}



/* 圖片區域 */

.member-photo-1 {
    display: flex;
    justify-content: flex-start;
    /* 確保圖片靠左 */
}

.member-photo-1 img {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* 確保圖片填充且不變形 */
    border-radius: 20px 560px 560px 20px;
    /* D型效果 */
    margin-top: -240px;
    box-shadow: 30px 30px 0px var(--primary-1);
    /* 添加陰影 */
}

/* 圖片區域容器 */


.member-photo-2 {

    display: flex;
    justify-content: flex-end;
    /* 確保圖片靠右 */
}

.member-photo-2 img {

    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* 確保圖片填充且不變形 */
    border-radius: 560px 20px 20px 560px;
    margin-top: -220px;
    box-shadow: -30px 30px 0px var(--primary-3);
    /* 添加陰影 */
    z-index: 2;

    /* 確保圖片位於最上層 */
}

.member-photo-3 {
    display: flex;
    justify-content: flex-start;
    /* 確保圖片靠左 */
}

.member-photo-3 img {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* 確保圖片填充且不變形 */
    border-radius: 20px 560px 560px 20px;
    margin-top: -180px;
    box-shadow: 30px 30px 0px var(--primary-4);
    /* 添加陰影 */

}


/* 文字區域 */
.member-info-1,
.member-info-2,
.member-info-3 {
    width: 300px;
    /* 文字內容與圖片同寬 */
    margin-left: 20px;
    /* 與圖片之間留空 */
    text-align: left;
}


.member-info-1 h3,
.member-info-2 h3,
.member-info-3 h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-3);
    margin-bottom: 10px;
    margin-top: 50px;
    letter-spacing: .4rem;
}


.member-info-1 p,
.member-info-2 p,
.member-info-3 p {
    font-size: 1rem;
    color: var(--primary-3);
    line-height: 1.8;
    letter-spacing: .2rem;
    max-width: 300px;
    /* 控制文字寬度與圖片一致 */
}

/* 1100px以下的響應式調整 */
@media (max-width: 1100px) {

    .team-container {
        display: block;
        padding: 0;
    }

    .team-header {

        margin: 0 auto 250px auto;
        /* 增加 margin-top 為 60px */
        padding-top: 10px;
        /* 單獨移動標題 */

        padding-right: 80px;
        /* 確保文字內容離右側80px */
    }


    /* 圖片和文字垂直排列 */
    .team-member-1,
    .team-member-2,
    .team-member-3 {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    /* 調整圖片大小 */
    .team-member-1 img,
    .team-member-2 img,
    .team-member-3 img {
        width: 230px;
        height: 230px;
    }

    .member-photo-1 img {
        margin-right: 100px;
    }

    .member-photo-3 img {
        margin-right: 100px;
    }
}

/* 768px以下的響應式調整 */
@media (max-width: 768px) {

    .our-team {
        background-position: right 0 bottom 610px;
    }

    .team-header h2 {
        font-size: 2.5rem;
    }

    .team-member-1 img,
    .team-member-2 img,
    .team-member-3 img {
        width: 200px;
        height: 200px;
    }

    .team-member-2 img {
        margin-top: 10px;
    }

    .team-member-3 img {
        margin-top: 10px;
    }

    .team-member-1 p,
    .team-member-2 p,
    .team-member-3 p {
        font-size: 0.9rem;
    }
}

/* 480px以下的手機模式 */
@media (max-width: 390px) {
    .our-team {
        background-size: 100%;
        background-position: right 0 bottom 560px;
    }

    .team-header h2 {
        font-size: 2rem;
    }

    .team-member-1 img,
    .team-member-2 img,
    .team-member-3 img {
        width: 150px;
        height: 150px;

    }

    .team-member-1 p,
    .team-member-2 p,
    .team-member-3 p {
        font-size: 0.8rem;
    }
}

/* Service 服務區 */
#service-section {
    padding: 50px 20px;
    background-color: var(--primary-2);
    text-align: center;
    position: relative;

}

#service-section h2 {
    font-size: 3.5rem;
    color: var(--primary-1);
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 50px;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

/* 整個服務區容器樣式 */
.service-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    /* 調整元件之間的距離 */
}

/* 左側和右側的對話框區域 */
.service-left,
.service-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    position: relative;
}

/* 對話框樣式 */
.speech-bubble {
    position: relative;
    display: flex;
    align-items: center;

}

/* 定義背景圖縮放動畫 */
@keyframes zoomEffect-1 {
    0% {
        transform: rotate(0) scale(1);
        /* 初始大小 */
    }

    50% {
        transform: rotate(25deg) scale(1.1);
        /* 更明顯的放大 */
    }

    100% {
        transform: rotate(0) scale(1);
        /* 回到初始大小 */
    }
}

@keyframes zoomEffect-2 {
    0% {
        transform: rotate(0) scale(1);
        /* 初始大小 */
    }

    50% {
        transform: rotate(-25deg) scale(1.1);
        /* 更明顯的放大 */
    }

    100% {
        transform: rotate(0) scale(1);
        /* 回到初始大小 */
    }
}

.speech-bubble img {
    width: 200px;
    /* 調整對話框圖像大小 */
    height: auto;
}

/* 左側對話框樣式 */
.service-left .speech-bubble {
    position: absolute;
    animation: zoomEffect-2 2s ease-in-out infinite;
}

/* 左側對話框進行翻轉 */
.service-left .speech-bubble img {
    transform: scaleX(-1);
    /* 水平翻轉圖片 */
}

.bubble-left-1 {
    top: -300px;
    left: -240px;

}

.bubble-left-2 {
    bottom: -200px;
    left: -280px;
}

/* 右側對話框樣式 */
.service-right .speech-bubble {
    position: absolute;
    animation: zoomEffect-1 2s ease-in-out infinite;
}

.bubble-right-1 {
    top: -400px;
    right: -260px;

}

.bubble-right-2 {
    top: -200px;
    right: -400px;
}

.bubble-right-3 {
    bottom: -200px;
    right: -280px;
}

.speech-bubble p {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: var(--primary-4);
    font-weight: 700;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    line-height: 1.5;
    /* 確保文字的行高適合對話框大小 */
    letter-spacing: .2rem;
}

/* 中央圖片區域樣式 */
.service-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dog-image {
    width: 450px;
    height: 450px;
    border-radius: 999px 999px 20px 20px;
    /* 圓形圖片效果 */
    object-fit: cover;
    background-color: var(--primary-6);
    margin-bottom: 40px;

}

/* 了解更多按鈕 */
.service-center .learn-more-button {
    display: inline-block;
    margin-top: 20px;
    padding: 0.5em 2em;
    text-align: center;
    border: 0.1875rem solid var(--primary-1);
    color: var(--primary-1);
    text-transform: uppercase;
    border-radius: 99px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: .2rem;
    z-index: 1;
    align-self: center;
    /* 讓按鈕在桌面版也保持居中 */

}

.service-center .learn-more-button:hover {
    background-color: var(--primary-1);
    color: var(--primary-5);
}

/* 響應式設計：針對平板 */
@media screen and (max-width: 1024px) {
    .service-center .learn-more-button {
        font-size: 1.1rem;
        /* 調整按鈕字體大小 */
        padding: 0.5em 1.5em;
        /* 減少按鈕內邊距 */
        margin-top: 15px;
        /* 減少按鈕上方的間距 */
        align-self: center;
        /* 確保按鈕在平板上居中 */
    }
}

/* 響應式設計：針對手機 */
@media screen and (max-width: 768px) {
    .service-center .learn-more-button {
        font-size: 1rem;
        /* 調整按鈕字體大小 */
        padding: 0.5em 1.2em;
        /* 減少按鈕的內邊距 */
        margin-top: 10px;
        /* 進一步減少按鈕上方的間距 */
        align-self: center;
        /* 確保按鈕在手機上居中 */
    }
}

/* 更小的手機裝置 */
@media screen and (max-width: 480px) {
    .service-center .learn-more-button {
        font-size: 0.9rem;
        /* 調整字體大小為更小的裝置 */
        padding: 0.4em 1em;
        /* 縮小按鈕的內邊距 */
        margin-top: 10px;
        align-self: center;
        /* 在小裝置上仍保持居中 */
    }
}

@media (max-width: 1336px) and (min-width: 768px) {

    /* 調整右側對話框的位置，避免出框 */
    /* 調整對話框大小和位置 */
    .bubble-left-1,
    .bubble-left-2,
    .bubble-right-1,
    .bubble-right-2,
    .bubble-right-3 {
        width: 180px;
        height: auto;
    }

    .bubble-right-1 {
        top: -280px;
        right: -140px;
        /* 調整 right 位置，讓它靠近圖片 */
    }

    .bubble-right-2 {
        top: -130px;
        right: -220px;
        /* 調整位置，防止超出右側 */
    }

    .bubble-right-3 {
        bottom: -200px;
        right: -160px;
        /* 調整 right 位置，避免出框 */
    }

    /* 左側對話框位置調整 */
    .bubble-left-1 {
        top: -250px;
        left: -100px;
        /* 調整 left 位置，讓它不會超出左側 */
    }

    .bubble-left-2 {
        bottom: -100px;
        left: -120px;
        /* 調整位置，防止超出左側 */
    }

    /* 進一步調整對話框的大小，確保它們在這個區間內不會過大 */
    .speech-bubble img {
        width: 150px;
        /* 縮小對話框大小 */
        height: auto;
    }
}

/* 針對中等螢幕 (970px 到 768px) 的調整 */
@media (max-width: 970px) and (min-width: 768px) {

    /* 調整右側對話框的位置，避免出框 */
    .bubble-right-1 {
        top: -250px;
        right: -160px;
        /* 調整 right 位置，讓它靠近圖片 */
    }

    .bubble-right-2 {
        top: -120px;
        right: -180px;
        /* 調整位置，防止超出右側 */
    }

    .bubble-right-3 {
        bottom: -120px;
        right: -140px;
        /* 調整 right 位置，避免出框 */
    }

    /* 左側對話框位置調整 */
    .bubble-left-1 {
        top: -250px;
        left: -80px;
        /* 調整 left 位置，讓它不會超出左側 */
    }

    .bubble-left-2 {
        bottom: -100px;
        left: -100px;
        /* 調整位置，防止超出左側 */
    }

    /* 進一步調整對話框的大小，確保它們在這個區間內不會過大 */
    .speech-bubble img {
        width: 120px;
        /* 縮小對話框大小 */
        height: auto;
    }

    /* 對話框內文字保持居中 */
    .speech-bubble p {
        font-size: 1rem;
        transform: translateY(-80%) translateX(-20px);
    }

    /* 確保圖片不會過大 */
    .dog-image {
        width: 300px;
        height: 300px;
    }

    /* 調整按鈕位置 */
    .service-center .learn-more-button {
        margin-top: 20px;
    }

}



/* iPad 尺寸以下的調整 (768px 宽度以下) */
@media (max-width: 768px) {

    /* 調整左側對話框 */
    /* 調整對話框大小和位置 */
    .bubble-left-1,
    .bubble-left-2,
    .bubble-right-1,
    .bubble-right-2,
    .bubble-right-3 {
        width: 120px;
        height: auto;
    }

    .bubble-left-1 {
        top: -180px;
        left: -100px;
    }

    .bubble-left-2 {
        bottom: -120px;
        left: -120px;
    }

    /* 調整右側對話框 */
    .bubble-right-1 {
        top: -240px;
        right: -100px;
    }

    .bubble-right-2 {
        top: -120px;
        right: -160px;
    }

    .bubble-right-3 {
        bottom: -140px;
        right: -120px;
    }

    /* 圖片和按鈕大小調整 */
    .dog-image {
        width: 260px;
        height: 260px;
    }

    .service-center .learn-more-button {
        margin-top: 10px;
    }

    /* 調整文字在對話框中的位置 */
    .speech-bubble p {
        font-size: 0.9rem;
        transform: translateY(-50%) translateX(-5px);
    }

}

/* 針對小螢幕 (740px 到 390px) 的調整 */
@media (max-width: 740px) and (min-width: 390px) {

    /* 調整右側對話框的位置，避免出框 */
    .bubble-right-1 {
        top: -240px;
        right: -30px;
        /* 調整 right 位置，讓它靠近圖片 */
    }

    .bubble-right-2 {
        top: 0px;
        right: -30px;
        /* 調整位置，防止超出右側 */
    }

    .bubble-right-3 {
        bottom: 20px;
        right: -30px;
        /* 調整 right 位置，避免出框 */
    }

    /* 左側對話框位置調整 */
    .bubble-left-1 {
        top: -150px;
        left: -30px;
        /* 調整 left 位置，讓它不會超出左側 */
    }

    .bubble-left-2 {
        bottom: -50px;
        left: -30px;
        /* 調整位置，防止超出左側 */
    }

    /* 縮小對話框 */
    .speech-bubble img {
        width: 90px;
        /* 縮小對話框大小 */
        height: auto;
    }

    /* 確保對話框內文字居中 */
    .speech-bubble p {
        font-size: 0.7rem;
        transform: translateY(-50%) translateX(-10px);
    }
}

/* 針對手機 (390px 以下) 的調整 */
@media (max-width: 390px) {

    /* 調整對話框的位置，避免出框 */
    .service-left,
    .service-right {
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* 調整對話框之間的間距 */
    }

    /* 將對話框縮小並居中 */
    .speech-bubble img {
        width: 70px;
        /* 縮小對話框大小 */
        height: auto;
    }

    .bubble-left-1,
    .bubble-left-2,
    .bubble-right-1,
    .bubble-right-2,
    .bubble-right-3 {
        position: relative;

    }

    /* 調整右側對話框的位置，避免出框 */
    .bubble-right-1 {
        top: -180px;
        right: -60px;
        /* 調整 right 位置，讓它靠近圖片 */
    }

    .bubble-right-2 {
        top: -100px;
        right: -80px;
        /* 調整位置，防止超出右側 */
    }

    .bubble-right-3 {
        bottom: -50px;
        right: -70px;
        /* 調整 right 位置，避免出框 */
    }

    /* 左側對話框位置調整 */
    .bubble-left-1 {
        top: -150px;
        left: -30px;
        /* 調整 left 位置，讓它不會超出左側 */
    }

    .bubble-left-2 {
        bottom: -50px;
        left: -30px;
        /* 調整位置，防止超出左側 */
    }

    /* 調整文字大小 */
    .speech-bubble p {
        font-size: 0.5rem;
        /* 縮小文字大小以適應對話框 */
        padding: 2px;
    }

    /* 圖片縮小 */
    .dog-image {
        width: 150px;
        height: 150px;
    }

    /* 按鈕位置調整 */
    .learn-more-button {
        margin-top: 15px;
    }

    /* 確保對話框內文字居中 */
    .speech-bubble p {
        font-size: 0.5rem;
        transform: translateY(-30%) translateX(-20px);
    }
}

/* FAQ 區 */
#faq-section {
    padding: 50px 20px;
    background-color: var(--primary-2);
    text-align: center;
}

.faq-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    /* 調整間距 */
}

/* FAQ 左邊標題和按鈕 */
.faq-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 修改：置中 */
    text-align: center;
    /* 修改：置中 */
    width: 20%;
}

.faq-left h2 {
    font-size: 3rem;
    color: var(--primary-1);
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.faq-left .learn-more-button {
    display: inline-block;
    margin-top: 20px;
    padding: 0.5em 2em;
    text-align: center;
    border: 0.1875rem solid var(--primary-1);
    color: var(--primary-1);
    text-transform: uppercase;
    border-radius: 99px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: .2rem;
    transition: background-color 0.3s ease;
}

.faq-left .learn-more-button:hover {
    background-color: var(--primary-1);
    color: var(--primary-5);
}

/* FAQ 中間和右邊的圖像 */
.faq-center,
.faq-right {
    width: 30%;
}

.faq-item img {
    width: 100%;
    /* 調整：圖片滿版 */
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.faq-item p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: var(--primary-3);
    font-weight: 700;
    letter-spacing: .2rem;
}

/* RWD 調整 */
@media (max-width: 1024px) {
    .faq-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .faq-left,
    .faq-center,
    .faq-right {
        width: 80%;
        text-align: center;
    }

    .faq-item img {
        width: 70%;
        margin: 0 auto;
    }
}

/* 手機模式調整 (768px 以下) */
@media (max-width: 768px) {

    /* 左中右的排列改為上下排列 */
    .faq-container {
        flex-direction: column;
    }

    /* 每個區塊寬度調整 */
    .faq-left,
    .faq-center,
    .faq-right {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .faq-item img {
        width: 80%;
        margin: 0 auto;
    }

    /* 將圖片上下排列 */
    .faq-center,
    .faq-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .faq-item p {
        margin-top: 10px;
        font-size: 1rem;
    }

    .learn-more-button {
        margin-top: 10px;
    }
}

/* 手機極小螢幕調整 (390px 以下) */
@media (max-width: 390px) {
    .faq-container {
        flex-direction: column;
        gap: 15px;
    }

    .faq-left,
    .faq-center,
    .faq-right {
        width: 100%;
        margin-bottom: 15px;
    }

    .faq-item img {
        width: 70%;
    }

    .learn-more-button {
        margin-top: 10px;
    }
}

/* Contact Us 區 */
#contact-us {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../images/contactus.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 80px;
    /* 調整兩側的 padding 為 80px */
    /* 新增 */
    display: flex;
    /* justify-content: space-between; */
    /* 確保標題和內容左右分開 */
    justify-content: center;
    /* 讓內容保持在中間 */
    align-items: center;
    /* text-align: left; */
    position: relative;
    /* 增加相對定位，讓內容分佈更加靈活 */
}

/* 內部內容區域：限制最大寬度，讓內容居中 */
#contact-us .contact-content {
    max-width: 1200px;
    /* 設置最大寬度，根據需求調整 */
    width: 100%;
    /* 確保內容寬度在小螢幕上能自適應 */
    margin: 0 auto;
    /* 讓內容居中對齊 */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 讓內容和按鈕靠左 */
    z-index: 1;
}


/* Contact Us 標題 */
#contact-us .contact-content h2 {
    color: var(--primary-5);
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    /* 保留標題陰影 */
    /* flex: 1; */
    text-align: right;
    /* 讓文字默認靠右 */
    margin-left: auto;
    /* 確保標題在右側 */
    z-index: 1;
}

#contact-us .contact-content p {
    color: var(--primary-5);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    text-align: left;
    width: 100%;

}

/* 調整按鈕位置 */
#contact-us .learn-more-button {
    display: inline-block;
    margin-top: 20px;
    /* 增 */
    padding: 0.5em 2em;
    text-align: center;
    border: 0.1875rem solid var(--primary-5);
    color: var(--primary-5);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 99px;
    transition: all 0.3s;
    /* 增 */
    align-self: flex-start;
    /* 確保按鈕靠左 */
    width: auto;
    /* 防止按鈕過寬 */
    z-index: 1;

}

#contact-us .learn-more-button:hover {
    background-color: var(--primary-1);
    border: var(--primary-1);
}

/* 響應式設計：針對平板 */
@media screen and (max-width: 1024px) {
    #contact-us {
        padding: 80px 20px;
        /* 減少內邊距 */
        flex-direction: column;
        /* 確保內容在小螢幕上垂直排列 */
    }

    #contact-content {
        max-width: 100%;
        /* 在較小螢幕上內容自適應寬度 */
        align-items: center;
        /* 確保內容區在小螢幕上居中對齊 */
        justify-content: center;
        /* 讓內容在水平方向上居中 */
    }

    #contact-us .contact-content h2 {
        font-size: 3rem;
        /* 調整標題字體大小 */
        text-align: center;
        /* 在平板上將標題置中 */
        margin-left: 0;
        /* 移除 margin-left 設置，確保標題置中 */
        width: 100%;
        /* 確保標題充滿寬度 */
    }

    #contact-us .contact-content p {
        text-align: center;
        /* 將段落文字居中 */
    }

    #contact-us .learn-more-button {
        font-size: 1.1rem;
        /* 調整按鈕字體大小 */
        align-self: center;
        /* 按鈕居中 */
    }
}

/* 響應式設計：針對手機 */
@media screen and (max-width: 768px) {
    #contact-us {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
        /* 減少兩側邊距 */
    }

    #contact-content {
        align-items: center;
    }

    #contact-us .contact-content h2 {
        font-size: 2.5rem;
        /* 調整標題字體大小 */
        text-align: center;
        margin-left: 0;
        /* 移除 margin-left */
    }

    #contact-us .contact-content p {
        text-align: center;
    }

    #contact-us .learn-more-button {
        font-size: 1rem;
        /* 調整按鈕字體 */
        align-self: center;
    }
}

/* Footer 區 */
.footer {
    background-color: var(--primary-1);
    /* 橘色背景 */
    padding: 40px 20px;
    color: var(--primary-5);
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.footer-links li {
    margin: 0 15px;
}

.footer-links li a {
    color: var(--primary-5);
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: .2rem;
}

.footer-contact p {
    margin: 5px 0;
    font-size: 1rem;
    letter-spacing: .2rem;
    text-align: left;
}

.footer-copyright {
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: .2rem;
}
/* 極小螢幕 (390px 以下) 響應式調整 */
@media (max-width: 390px) {
    footer {
        padding: 15px;
        font-size: 0.8rem;
    }

    footer .footer-menu {
        flex-direction: column;
        gap: 5px;
    }

    footer .footer-address {
        font-size: 0.7rem;
    }
    
    /* 調整超小螢幕的連結間距 */
    footer a {
        margin: 0 5px;
    }
}